caption {
    font-size: 200%;
}
table {
    border-collapse: collapse;
    width:100%;
}
td {
   width: 100px;
   height: 350px; 
   padding: 5px;
}
/*button {
    width: 590px;
    height: 350px;
}*/
#plain {
    width: 590px;
}
#container {
	min-width: 320px;
	max-width: 600px;
	margin: 0 auto;
}

/*Encabezado para las hojas de reporte*/
#titulos {
    color: #FFFFFF;
    background: #08088A;
}

/*TABLA ESTATICA*/
#table-wrapper-main-graph {
    position:relative;
}
#table-scroll-main-graph {
    height:435px;
    overflow:auto;  
    margin-top:20px;
}
#table-wrapper table {
    width:100%;

}
#table-wrapper table * {
    background:white;
    color:black;
}
#table-wrapper table thead th .text {
    display:block;
    position:absolute;   
    top:-10px;
    z-index:2;
    height:20px;
    width:35%;
    
}

/*GRAFICAS DE PRODUCCIÓN MINIATURA*/
.produccionGraph{
    height: 65vh; 
    width: 46%; 
    float: left; 
    margin: 0% 0%
}
.perdidaTecnica {
    height: 65vh; 
    /*width: 95%; se quita porque marcaba error*/ 
    float: left; 
    margin: 0% 0%
}
.perdidaOrganizacional {
    height: 65vh; 
    width: 95%; 
    float: left; 
    margin: 0% 0%
}
.perdidaParosPlaneados {
    height: 65vh; 
    width: 95%; 
    float: left; 
    margin: 0% 0%
}
.perdidaCambioModelo {
    height: 65vh; 
    width: 95%; 
    float: left; 
    margin: 0% 0%
}
.perdidaCalidad {
    height: 65vh; 
    width: 95%; 
    float: left; 
    margin: 0% 0%
}
.oeeMensual {
    height: 75vh; 
    width: 100%; 
    float: left; 
    margin: 0% 0%
}
.oeeSemanal {
    height: 75vh; 
    width: 100%; 
    float: left; 
    margin: 0% 0%
}
.oeeDiario {
    height: 75vh; 
    width: 100%; 
    float: left; 
    margin: 0% 0%
}
#tablaOEE {
    border-collapse: collapse;
    width: 100%;
}
#thOEE {
    text-align: left;
    padding: 8px;
    background-color: #08088A;
    color: white;
}
#thOEE1 {
    text-align: left;
    padding: 8px;
}
#thOEE2 {
    text-align: left;
    padding: 8px;
    background-color: #f2f2f2;
}

