caption {
    font-size: 200%;
}
table {
    border-collapse: collapse;
    width:100%;
}
td {
   width: 100px;
   height: 350px; 
   padding: 5px;
}
/*button {
    width: 590px;
    height: 350px;
}*/
#plain {
    width: 590px;
}
#container {
	min-width: 320px;
	max-width: 600px;
	margin: 0 auto;
}

/*TABLA ESTATICA*/
#table-wrapper-main-graph {
    position:relative;
}
#table-scroll-main-graph {
    height:435px;
    overflow:auto;  
    margin-top:20px;
}
#table-wrapper table {
    width:100%;

}
#table-wrapper table * {
    background:white;
    color:black;
}
#table-wrapper table thead th .text {
    display:block;
    position:absolute;   
    top:-10px;
    z-index:2;
    height:20px;
    width:35%;
    
}

/*CSS GRAFICAS DE PRODUCCIÓN MINIATURA*/
.produccionGraph{
    height: 50vh; 
    width: 46%; 
    float: left; 
    margin: 0% 0%
}
.perdidaTecnica {
    height: 50vh; 
    /*width: 95%; se quita porque marcaba error*/ 
    float: left; 
    margin: 0% 0%
}
.perdidaOrganizacional {
    height: 50vh; 
    width: 95%; 
    float: left; 
    margin: 0% 0%
}
.perdidaParosPlaneados {
    height: 50vh; 
    width: 95%; 
    float: left; 
    margin: 0% 0%
}

.contenedor{
    height: 40vh; 
    width: 49%; 
    float: left ; 
    margin: 0% 0%;
}
.arribaMes{
    height: 40vh; 
    width: 35%; 
    float: left ; 
    margin: 0% 1%
}

.arribaDiaMes{
    height: 50vh; 
    width: 300%; 
    float: left ; 
    margin: 0% 0%
}

#izquierda .pizquierda{
    height: 200vh; 
    width: 100%; 
    float: left; 
    margin: 0% 0%;
}

#derecha .pderecha{
    height: 200vh; 
    width: 100%; 
    float: left ; 
    margin: 0% 0%;
}

#titulo {
    color: #FFFFFF;
    background: #08088A;
}

#table-wrapper {
    height: 40vh; 
    width: 98%; 
    float: left ; 
    margin: 0% 1%
}

#table-scroll {
    height:250px;
    overflow:auto;  
    margin-top:20px;
}

#table-wrapper table {
    width:100%;
}

#table-wrapper table thead th .text {
    display: block;
    position:absolute; 
    margin: 0% -1.3%;
    top: 342px;
    z-index: 200;
    height: 20px;
    width: 35%;
    background: #D8D8D8;         
}

#table-wrapperP {
    height: 40vh; 
    width: 98%; 
    float: left ; 
    margin: 0% 1%
}

#table-scrollP {
    height:20px;
    overflow:auto;  
    margin-top:20px;
}

#table-wrapperP tableP {
    width:100%;
}

#table-wrapperP tableP theadP thP .textP {
    display: block;
    position:absolute; 
    margin: 0% -1.3%;
    top: 342px;
    z-index:2;
    height:20px;
    width:35%;
    background: #D8D8D8;         
}
